{% extends "suit/suit.html" %}

{% block title %}主机资讯详情{% endblock %}



{% block content %}
<div class="container">
    <form action='/web/details/{{ id }}/' id='edithost' method='POST'>{% csrf_token %}
    <div class="G_head_title">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th colspan="2" style="text-align:center">主机资讯详情</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>主机id</td>
                    <td>{{ id }}</td>
                </tr>
                <tr>
                    <td>主机名</td>
                    <td><input type="text" name="formhostname" value="{{ HostObj.hostname }}" placeholder="主机名" style="width:250px" class="input-text"></td>
                </tr>
                <tr>
                    <td>操作系统</td>
                    <td><input type="text" name="formos" value="{{ HostObj.os }}" placeholder="主机名" style="width:250px" class="input-text"></td>
                </tr>
                <tr>
                    <td>服务器位数</td>
                    <td><input type="text" name="formmachinetype" value="{{ HostObj.machineType }}" placeholder="主机名" style="width:250px" class="input-text"></td>
                </tr>
                <tr>
                    <td>内核版本</td>
                    <td><input type="text" name="formkernal" value="{{ HostObj.kernal }}" placeholder="主机名" style="width:250px" class="input-text"></td>
                </tr>
                <tr>
                	<td>是否发布</td>
                	<td>
						<span class="select-box inline">
						<select name="fompublish" class="select">
							<option value="1" {% ifequal HostObj.ispublish "1" %}selected = "selected"{% endifequal %} >已发布</option>
							<option value="0" {% ifequal HostObj.ispublish "0" %}selected = "selected"{% endifequal %} >已下架</option>
						</select>
						</span>
                	</td>
                </tr>
            </tbody>
        </table>
 
    </div>
    
    
    
    
    
    <div class="G_head_verify">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th colspan="2" style="text-align:center">ssh登陆信息(非必填)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>ssh登陆地址</td>
                    <td><input type="text" name="formaddressssh" id="formaddressssh" value="{{ HostObj.addressssh }}" placeholder="ssh登陆地址" style="width:250px" class="input-text"></td>
                </tr>
                <tr>
                    <td>ssh登陆端口</td>
                    <td><input type="text" name="formportssh" id="formportssh" value="{{ HostObj.portssh }}" placeholder="ssh登陆端口" style="width:250px" class="input-text"></td>
                </tr>
                <tr>
                    <td>ssh登陆用户名</td>
                    <td><input type="text" name="formusernamessh" id="formusernamessh" value="{{ HostObj.usernamessh }}" placeholder="ssh登陆用户名" style="width:250px" class="input-text"></td>
                </tr>
                <tr>
                    <td>ssh登陆密码</td>
                    <td><input type="password" name="formpasswordssh" id="formpasswordssh" value="{{ HostObj.passwordssh }}" placeholder="ssh登陆密码" style="width:250px" class="input-text"></td>
                </tr>
            </tbody>
        </table>
 
    </div>
    
    
    
    
    
        <div class="G_head_verify">
            <table class="table table-striped table-bordered" >

                <tbody>  
                	<tr>
                		<td>创建时间</td>
                        <td>信息更新时间</td>
                	</tr>

                	<tr>
                		<td>{{ HostObj.timestamp|date:"Y-m-d H:i" }}</td>
                        <td>{{ HostObj.changetime|date:"Y-m-d H:i" }}</td>
                	</tr>
                </tbody>
            </table>
        </div>

    <div class="G_head_title">
        <table id="tab" class="table table-striped table-bordered">
        <thead>
            <tr>
                <td colspan="2">IP地址</td>
            </tr>
        </thead>
			{% for k in HostObj.networkinfo.addrlst %}
			<tr>
			<td style="width:1250px"><input type="text" name="formip[]" value="{{ k }}"></td>
			<td><input type="button" name="del" value="删除"></td>
			</tr>
			{% endfor %}
        </table>
    </div>
	<input style="margin-bottom:1em" class="btn btn-primary btn-xs" type="button" name="add" value="增加">

<script type="text/javascript">
$(function(){
    $(':button[name=add]').click(function(){
        insertTr();
    })
    $(':button[name=del]').click(function(){
        $(this).parents('tr').remove();
    })
})
var gradeI=1;
function insertTr(){
    var html='';
    html+='<tr><td><input type="text" name="formip[]" value="127.0.0.1"></td>';
    html+='<td><input type="button" name="del" value="删除"></td></tr>';
    $('#tab').append(html);
    $(':button[name=del]').click(function(){
        $(this).parents('tr').remove();
    })   
    gradeI++;
}
</script>


    <div class="G_head_title">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th colspan="6">内存信息</th>
                </tr>
            </thead>
           	<thead>
				<tr>
					<th width="25px">插槽</th>
					<th width="20px">内存条序列号</th>
					<th width="80px">类型</th>
					<th width="50px">速度</th>
					<th width="75px">内存大小</th>
					<th width="20px">操作</th>
				</tr>
			</thead>
			<tbody id="memtab">
            {% for k,v in HostObj.memoryinfo.items %}
                <tr>
                    <td width="25px"><input type="text" name="formmem{{ forloop.counter }}" value="{{ k }}"></td>
                    <td width="20px"><input type="text" name="formmem{{ forloop.counter }}[]" value="{{ v.msn }}"></td>
                    <td width="80px"><input type="text" name="formmem{{ forloop.counter }}[]" value="{{ v.type }}"></td>
                    <td width="50px"><input type="text" name="formmem{{ forloop.counter }}[]" value="{{ v.speed }}"></td>
                    <td width="75px"><input type="text" name="formmem{{ forloop.counter }}[]" value="{{ v.size }}"></td>
                    <td width="20px"><input type="button" name="memdel" value="删除"></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    
	<input style="margin-bottom:1em" class="btn btn-primary btn-xs" type="button" name="memadd" value="增加">
<script type="text/javascript">
var fm=80;
$(function(){
    $(':button[name=memadd]').click(function(){
        insertmemTr();
    })
    $(':button[name=memdel]').click(function(){
        $(this).parents('tr').remove();
    })
})
function insertmemTr(){
    var html='';
    html+='<tr><td width="25px"><input type="text" name="formmem'+fm.toString()+'" value="slot"></td>';
    html+='<td width="20px"><input type="text" name="formmem'+fm.toString()+'[]" value="serial number"></td>';
    html+='<td width="80px"><input type="text" name="formmem'+fm.toString()+'[]" value="type"></td>';
    html+='<td width="50px"><input type="text" name="formmem'+fm.toString()+'[]" value="speed"></td>';
    html+='<td width="75px"><input type="text" name="formmem'+fm.toString()+'[]" value="size"></td>';
    html+='<td width="20px"><input type="button" name="memdel" value="删除"></td></tr>';
    $('#memtab').append(html);
    $(':button[name=memdel]').click(function(){
        $(this).parents('tr').remove();
    })
    fm++;
}
</script>



    <div class="G_head_title">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th colspan="4">磁盘信息</th>
                </tr>
            </thead>
           	<thead>
				<tr>
					<th width="25px">挂载分区</th>
					<th width="20px">设备</th>
					<th width="80px">总容量</th>
					<th width="20px">操作</th>
				</tr>
			</thead>
			<tbody id="disktab">
            {% for k,v in HostObj.diskinfo.items %}
                <tr>
                    <td width="25px"><input type="text" name="formdisk{{ forloop.counter }}" value="{{ k }}"></td>
                    <td width="20px"><input type="text" name="formdisk{{ forloop.counter }}[]" value="{{ v.device }}"></td>
                    <td width="80px"><input type="text" name="formdisk{{ forloop.counter }}[]" value="{{ v.total }}"></td>
                    <td width="20px"><input type="button" name="diskdel" value="删除"></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    
	<input style="margin-bottom:1em" class="btn btn-primary btn-xs" type="button" name="diskadd" value="增加">
<script type="text/javascript">
var fm=70;
$(function(){
    $(':button[name=diskadd]').click(function(){
        insertdiskTr();
    })
    $(':button[name=diskdel]').click(function(){
        $(this).parents('tr').remove();
    })
})
function insertdiskTr(){
    var html='';
    html+='<tr><td width="25px"><input type="text" name="formdisk'+fm.toString()+'" value="mountpoint"></td>';
    html+='<td width="20px"><input type="text" name="formdisk'+fm.toString()+'[]" value="device"></td>';
    html+='<td width="80px"><input type="text" name="formdisk'+fm.toString()+'[]" value="total"></td>';
    html+='<td width="20px"><input type="button" name="diskdel" value="删除"></td></tr>';
    $('#disktab').append(html);
    $(':button[name=diskdel]').click(function(){
        $(this).parents('tr').remove();
    })
    fm++;
}
</script>








    <div class="G_head_title">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th colspan="4">主板硬件信息</th>
                </tr>
            </thead>
           	<thead>
				<tr>
					<th width="25">序列号</th>
					<th width="20">产品名</th>
					<th width="80">UUID</th>
					<th width="50">制造商</th>
				</tr>
			</thead>
            <tbody>
                <tr>
                    <td><input type="text" name="formhwsn" value="{{ HostObj.hardwareinfo.SN }}" placeholder="序列号"  style="width:400px" class="input-text"></td>
                    <td><input type="text" name="formhwproduct" value="{{ HostObj.hardwareinfo.Product }}" placeholder="产品名"  class="input-text"></td>
                    <td><input type="text" name="formhwuuid" value="{{ HostObj.hardwareinfo.UUID }}" placeholder="UUID" style="width:300px" class="input-text"></td>
                    <td><input type="text" name="formhwmanu" value="{{ HostObj.hardwareinfo.Manufacturer }}" placeholder="制造商"  class="input-text"></td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div class="G_head_title">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th colspan="4">CPU信息</th>
                </tr>
            </thead>
           	<thead>
				<tr>
					<th width="25">CPU核数</th>
					<th width="20">CPU型号</th>
					<th width="80">物理CPU数</th>
					<th width="50">线程数(逻辑CPU数)</th>
				</tr>
			</thead>
            <tbody>
                <tr>
                    <td><input type="text" name="formcpucore" value="{{ HostObj.cpuinfo.cpuCore }}" placeholder="CPU核数"  class="input-text"></td>
                    <td><input type="text" name="formcpumodel" value="{{ HostObj.cpuinfo.cpuModel }}" placeholder="CPU型号" size="50" class="input-text"></td>
                    <td><input type="text" name="formcpupyhsical" value="{{ HostObj.cpuinfo.cpuPhysical }}" placeholder="物理CPU数"  class="input-text"></td>
                    <td><input type="text" name="formcpuprocess" value="{{ HostObj.cpuinfo.cpuProcess }}" placeholder="线程数(逻辑CPU数)" class="input-text"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="form-group">
    <input class="btn btn-primary btn-lg btn-block" type="button" data-toggle="modal" data-target="#saveModal{{ id }}" value="修改"><label style="color:red;">{{ status }}</label>
								<!-- 模态框（Modal） -->
								<div class="modal fade" id="saveModal{{ id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
								            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
								                  &times;
								            </button>
								            <h4 class="modal-title" id="myModalLabel">
											 提示
								            </h4>
								         	</div>
								         	<div class="modal-body">
										 	保存修改？
								         	</div>
								         <div class="modal-footer">
								            <button type="button" class="btn btn-default" data-dismiss="modal">
											关闭
								            </button>
								            <input type='submit' value='确认' class="btn btn-primary" role="button"/>
								         </div>
								      </div><!-- /.modal-content -->
									</div><!-- /.modal -->
								</div>
    
    </div>
    </form>
</div>
{% endblock %}